section#about
	div.container
		div.row
			div.col-md-4.me
				img.img-responsive.center-block.float-front(src="assets/img/KyleTerns.jpg")
	
			div.col-md-8
				div.about.panel.panel-default.float-front
					div.panel-body
						h4 Summary
						p.text-muted.
							After taking most of the <a href="http://www.winthrop.edu/majors/default.aspx?id=10603">Web Application Developer degree</a> 
							courses at <a href="http://www.winthrop.edu/">Winthrop University</a> plus several other online courses, and watching countless YouTube videos on web development,
							along with my debugging and code troubleshooting experience at Microsoft, I'm eager to take on a new and 
							challenging career as a Front End/JavaScript and/or Back End (PHP or NodeJS) Web Developer.
						//- p.text-muted.
						//- 	This site will serve as a way for potential	employers to view my work, see my resume, and contact me directly.
			div.col-md-4
				div.skills.panel.panel-default.float-front
					div.panel-body
						p Primary Skills
						p
							div.label.label-primary HTML5
							div.label.label-primary CSS/SASS
							div.label.label-primary Bootstrap
							div.label.label-primary JavaScript
							div.label.label-primary jQuery
							div.label.label-primary PHP
							div.label.label-primary MySQL
							div.label.label-primary Debugging
							div.label.label-primary Problem Solving
