section#landing
  div.container
    div.row
      div#hero
        div.header
          h1
            span Kyle&nbsp;&nbsp;Terns
          p Web Developer // Technology Geek // Problem Solver
          div.logo
            img(src="assets/img/KyleTerns-cutout.jpg" alt="Kyle Terns")
          div.blurb
            //- p After taking most of the Web Application Developer degree's core classes at Winthrop University, along with my debugging and code troubleshooting experience at Microsoft, I'm eager to take on a new and challenging career as a JavaScript and/or Back-End (PHP or NodeJS) Web Developer.
            p Hi there! My name is Kyle Terns, and I'm a Charlotte area Web Developer. I enjoyed my career supporting Web Administrators and Developers through Microsoft, but really needed to leave to pursue my true passion for creating web sites and applications.
            p If your company is looking for a Junior Web Developer, I'm excited and ready to fill that role using all that I've learned online, from my previous career, and my Winthrop University education.
            //- button.btn.btn-primary.btn-cta(type="button" name="button") See My Portfolio
            a.page-scroll.btn.btn-primary.btn-cta(href="#portfolio") See My Portfolio
