section#hero
	div.cover
		header
			h1
				span Kyle&nbsp;&nbsp;Terns
			p Web Developer // Technology Geek // Problem Solver
			div.logo
				img(src="assets/img/KyleTerns-cutout.jpg" alt="Kyle Terns")
		div.blurb
			p Hi there! My name is Kyle Terns, and I'm a Charlotte area Web Developer. I had a great career at Microsoft supporting Web Administrators and Developers, but have since left to pursue my true passion of creating web sites and applications.
			p If your company is seeking a Junior Web Developer, check out my sample work and experience to see if I'm a good fit!

			a.page-scroll.btn.btn-primary.btn-cta(href="#portfolio") See My Portfolio
