section#resume
  div.container
    div.resume-download.center-block
      a(href="assets/downloads/kterns-resume.doc")
        p
          span.glyphicon.glyphicon-arrow-down(aria-hidden="true")
          |  Download Resume
    div.paper.center-block
      div.row.resume-header
        header
          div.col-md-4
            h1 Kyle Terns
          div.col-md-8
            ul.text-right
              li Charlotte/Rock Hill Area
      
      div.row
        div.col-md-2
          h2 Summary
        div.col-md-10
          p.
            After taking most of the Web Application Developer degree core courses at Winthrop University, 
            plus my debugging and code troubleshooting experience at Microsoft, I'm ready and eager to take on a new and 
            challenging career as an entry-to-mid level JavaScript and/or Back-End (PHP or NodeJS) Web Developer.
      
      h2 Experience
      
      div.row
        div.col-md-6
          h3 Winthrop University
        div.col-md-6.text-right
          h4 Aug 2013 - Dec 2015
      
      h4 Student - Web Design and Development course work
      ul
        li Developed web applications written in PHP 5.3.
        li Created a dynamic site using PHP, Symfony2 (MVC), Twig, Doctrine, and MongoDB.        
        li Designed and built web sites using Adobe Photoshop/Illustrator, Notepad++, HTML5 and CSS3.
        li Created client-side interactivity using JavaScript and jQuery.
        li Created database ER diagrams and relational models.
        li Wrote complex SQL queries against MySQL databases.
        li Used latest methods in preventing SQL Injection attacks.
        li Setup Ubuntu server and configured Apache + MySQL and all the 3rd party modules for class projects.
        li Maintained class projects on GitHub.
        li Worked on side projects (<em>currently ongoing</em>) using Bootstrap, Sass, jQuery, AngularJS and PHP.
        
      div.row
        div.col-md-6
          h3 Microsoft Corporation
        div.col-md-6.text-right
          h4 June 1999 - Jan 2015
      
      h4 Senior Escalation Engineer - Internet Information Server/ASP.NET
      ul
        li Provided technical and creative solutions for end user customer problems while ensuring customer satisfaction with Internet Information Services (v4.0-8.0) and ASP/ASP.NET web applications.
        li Analyzed user mode memory dumps using WinDbg to resolve IIS, ASP and ASP.NET debug support incidents.
        li Led small team of engineers in IIS/ASP.NET diagnostic utility development.
        li Lead mentor for a team of 5 vendor new hires.
        li IIS 7.0 Web Hosting Experience Beta engineer from July 2007 to Mar 2008.
        li Creator and lead developer for an internal tool written in VB.NET.
        li Ran an IIS server for the team, which hosted process and technical information.
        li Ran and maintained reports in Excel for unit-wide customer satisfaction and solution metrics.
        li Accepted into and completed the Microsoft Tester Apprenticeship Program.
        
      h4 Support Engineer - Office/Excel/Visual Basic for Applications (VBA)
      ul
        li Performed Tier 2 support for Microsoft Excel power users and developers.
        li Developed custom Microsoft Excel applications and automation code using VBA and complex formulas.
        li Provided beta support, reviewed bugs, performed technical review of components/product documentation, developed training materials, and conducted training for Excel 2000 while on the Office Beta team for 6 months.
      
      h2 Education
      
      div.row
        div.col-md-8
          h3 Bachelor Degree in Digital Information Design
        div.col-md-4.text-right
          h4
            em Postponed
      
      h4 Winthrop University - Rock Hill, SC
      ul
        li Concentration: Web Application Design &amp; Development
        li GPA: 3.78
      
      div.row
        div.col-md-8
          h3 Associate Degree in Arts &amp; Sciences
        div.col-md-4.text-right
          h4 Dec 2008
      
      h4 Bellevue College - Bellevue, WA
      ul
        li Concentration: Computer Science &amp; Business
        li Graduated "with Distinction"
      
      h2 Skills
      
      ul.group-list
        li Adobe Illustrator
        li Adobe Photoshop
        li AngularJS
        li Apache
        li ASP.NET
        li Bower
        li C#
        li Composer
        li CSS
        li CSS3
        li Debugging
        li Doctrine
        li Git
        li GitHub
        li Gulp
        li HTML
        li HTML5
        li IIS
        li Internet Information Services
        li Jade
        li JavaScript
        li jQuery
        li Microsoft Excel
        li MongoDB
        li MySQL
        li .NET Framework
        li Npm
        li PHP
        li Problem Solving
        li Sass
        li Symfony2
        li Twig
        li Twitter Bootstrap
        li Ubuntu
        li VB.NET
        li Visual Studio
        li WinDbg
