section#resume
  .container
    .resume-download.center-block
      a(href="downloads/kterns-resume.doc")
        p
          span.glyphicon.glyphicon-arrow-down(aria-hidden="true")
          |  Download Resume
    .paper.center-block
      .row.resume-header
        header
          .col-md-4
            h1 Kyle Terns
          .col-md-8
            ul.text-right
              li Charlotte/Rock Hill Area
      
      .row
        .col-md-2
          h2 Summary
        .col-md-10
          p.
            With 15+ years experience as corporate enterprise-level end-user and web development support at Microsoft, 
            I'm eager to put that experience troubleshooting and debugging other developer's web sites, plus my University coursework 
            and personal experience into a new position as a JavaScript and/or Back-End Web Developer.
      
      h2 Experience
      
      .row
        .col-md-6
          h3 Winthrop University
        .col-md-6.text-right
          h4 Aug 2013 - Dec 2015
      
      h4 Student - Web Design and Development
      ul
        li Developed several PHP web applications.
        li Created a functional web site using PHP, Symfony2 (MVC), Twig, Doctrine, and MongoDB.
        li Maintained projects on Github.
        li Setup Ubuntu server and configured Apache and all the 3rd party modules for class projects.
        li Designed and built web sites using Adobe Photoshop/Illustrator, Notepad++, HTML5 and CSS3.
        li Created client-side interactivity using JavaScript and jQuery.
        li Currently developing personal websites using Bootstrap, jQuery, AngularJS and PHP.
        
      .row
        .col-md-6
          h3 Microsoft Corporation
        .col-md-6.text-right
          h4 Aug 1998 - Jan 2015
      
      h4 Senior Escalation Engineer - Internet Information Server/ASP.NET
      ul
        li Provided technical and creative solutions for end user customer problems while ensuring customer satisfaction with Internet Information Services (v4.0-8.0) and ASP/ASP.NET web applications.
        li Analyzed user mode memory dumps using WinDbg to resolve IIS, ASP and ASP.NET debug support incidents.
        li Led small team of engineers in IIS/ASP.NET diagnostic utility development.
        li Lead mentor for a team of 5 vendor new hires.
        li IIS 7.0 Web Hosting Experience Beta engineer from July 2007 to Mar 2008.
        li Creator and lead developer for an internal tool written in VB.NET.
        li Ran an IIS server for the team, which hosted process and technical information.
        li Ran and maintained reports in Excel for unit-wide customer satisfaction and solution metrics.
        li Accepted into and completed the Microsoft Tester Apprenticeship Program.
        
      h4 Support Engineer - Office/Excel/VBA
      ul
        li Provided technical and creative solutions for end user customer problems while ensuring customer satisfaction with Microsoft Desktop software applications (Aug 98 - June 99 worked for CompConTech).
        li Performed Tier 2 support to include monitoring Microsoft newsgroups, escalations, and online Web Response.
        li Developed custom Microsoft Excel applications using VBA and advanced formulas to resolve Office Development issues.
        li Provided beta support, reviewed bugs, performed technical review of components/product documentation, developed training materials, and conducted training for Excel 2000 while on the Office Beta team for 6 months.
        li Member of the Microsoft Office 2000 Server Support and Data Access Programmability Focus Teams.
        li Received Outstanding Customer Service Engineer award for November 1998.
        
      .row
        .col-md-6
          h3 IBM
        .col-md-6.text-right
          h4 Aug 1997 - July 1998
      
      h4 Level 2 Technical Representative (Contractor)
      ul
        li Contracted by Computer Generated Solutions to support over 30,000 Ernst & Young employees in a call center environment that averaged 1,700 calls a day with a personal average of 71% over quota.
        li Supported issues on Lotus Notes, dial-up networking, Novell, Microsoft Office 95 Professional, and over 50 other proprietary and shrink-wrap products.
        li Chosen from around 100 other technicians to assist in configuring and upgrading a Windows NT network from Token Ring to Ethernet for Oppenheimer in Seattle.
      
      h2 Education
      
      .row
        .col-md-8
          h3 Bachelor Degree in Digital Information Design
        .col-md-4.text-right
          h4
            em Postponed
      
      h4 Winthrop University - Rock Hill, SC
      ul
        li Concentration: Web Application Design & Development
        li GPA: 3.78
      
      .row
        .col-md-8
          h3 Associate Degree in Arts & Sciences
        .col-md-4.text-right
          h4 Dec 2008
      
      h4 Bellevue College - Bellevue, WA
      ul
        li Concentration: Computer Science & Business
        li Graduated "with Distinction"
      
      h2 Skills
      
      ul.group-list
        li .NET Framework
        li Adobe Illustrator
        li Adobe Photoshop
        li AngularJS
        li Apache
        li ASP.NET
        li Bower
        li C#
        li Composer
        li CSS
        li CSS3
        li Debugging
        li Doctrine
        li GIMP
        li Git
        li GitHub
        li Gulp
        li HTML
        li HTML5
        li IIS
        li Internet Information Services
        li JavaScript
        li jQuery
        li Microsoft Excel
        li MongoDB
        li MySQL
        li Npm
        li PHP
        li Problem Solving
        li Sass
        li Symfony2
        li Twig
        li Twitter Bootstrap
        li Ubuntu
        li VB.NET
        li Visual Studio
        li WinDbg
