/* About section */
section#about
	background:
		image: url(../img/tech-background.png)
		repeat: repeat-y
		position: center top
		size: cover
	color: #101010
	padding-top: 100px
	padding-bottom: 0

	@media(max-width: 600px)
		background:
			position: 20% top

	.me
		margin-top: 10px
		border: 2px solid black
		outline: 10px solid white

	.linkedin
		margin-top: 40px
		margin-bottom: 20px

	.panel-body
		padding-bottom: 25px

	h4
		margin-bottom: 10px

	p:last-child
		margin-bottom: 0

	.about
		h4:last-of-type
			margin-top: 25px

		p
			line-height: 1.5
