/* Navigation */

.navbar
	border: none
	color: white

	&.move-to-bottom
		margin-bottom: 0
		position: absolute
		bottom: 0
		left: 0
		right: 0

	// .navbar-brand
	// 	color: $accent-color
	// 	font-family: $brand-font
	// 	font-size: 22px
	// 	line-height: 30px
	//
	// 	.sub-brand
	// 		color: white
	// 		font-size: 16px

	#navbar
		.nav-custom > li > a
			color: white

			&:hover
				// color: $accent-color !important
				// border-bottom: 4px solid $accent-color
				/* TODO: Add emphasis on nav item hover */
				font-size: larger

				span
					visibility: visible

			span
				font-size: 20px
				visibility: hidden

		.nav-custom > .active > a
			background: transparent

			span
				visibility: visible

	/* Navbar media queries */
	@media (min-width: 768px)
		background-color: transparent
