footer
  div.container
    div.row
      div.col-md-12
        h4.text-muted Find Me On...
        ul
          li: a(href="https://www.linkedin.com/pub/kyle-terns/32/238/367"): i.fa.fa-linkedin
          li: a(href="https://github.com/kterns"): i.fa.fa-github
          li: a(href="https://twitter.com/KyleTerns"): i.fa.fa-twitter
    div.row
      div.col-md-12
        hr
        p.text-muted Copyright &copy; 2016 &middot; Kyle Terns &middot; All Rights Reserved
