nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
	div.container
		div.navbar-header.page-scroll
			button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#") Kyle Terns
				span.sub-brand  - Web Developer
		#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right.nav-underline
				li.active
					a.page-scroll(data-toggle="pill" href="#landing") About
				//- li
				//- 	a.page-scroll(data-toggle="pill", href="#projects") Projects
				li
					a.page-scroll(data-toggle="pill" href="#portfolio") Portfolio
				li
					a.page-scroll(data-toggle="pill" href="#resume") Resume
				//- li
				//- 	a.page-scroll(data-toggle="pill", href="#resources") Resources
				li
					a.page-scroll(data-toggle="pill" href="#contact") Contact


//- div.nav
//-   ul
//-     li
//-       a.active(href="#landing")
//-         | <span>{ </span>Home<span> }</span>
//-       a(href="#portfolio")
//-         | <span>[{ </span>Portfolio<span> }]</span></a></li>
//-       a(href="#contact")
//-         | <span>{{ </span>Contact<span> }}</span></a></li>
