/* Footer styling */
footer
  background: black
  color: white
  padding: 50px 0
  position: fixed
  bottom: 0
  width: 100%
  z-index: -1

  .container
    max-width: 640px
    margin: 0 auto

		p
			text-align: center
